body{
    font-family: Helvetica;
    background-color: #EAEAEA;
}
footer{
    background-color: #625B5B;
    color: white;
    padding: 20px;
    text-align: center;}
menu{
    background-color: #625B5B;
    color: white;
    padding: 20px;
    text-align: center;
}
img {
    width: 100%;
}
ul{
    list-style:circle;
    margin-left: 40px;
}

table{
    border-width: 1px;
    border-color: #625B5B;
    width: 60%;
    margin-left: 40px;
    text-align: center;
    border:1px dashed;
}
th{
    font-weight: bold;
}
.kontrolki{
    margin: 5px;
}
menu a{
    font-weight: bold;
    background-color: #EAEAEA;
    color: #625B5B;
    padding: 10px;
    margin: 50px;
    border-radius: 20px;
    text-decoration: none;
  }

menu a:hover {
    background-color: #625B5B;
    color: #EAEAEA;
    border: 1px solid #EAEAEA;
}
